@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f4f6f5;
  --foreground: #111827;
  --card: #ffffff;
  --card-foreground: #111827;
  --popover: #ffffff;
  --popover-foreground: #111827;

  /* Strict Color Implementation */
  --primary: #2c825e; /* Light Green for Base Header */
  --primary-foreground: #ffffff;

  --secondary: #408e6d; /* Light Green for Search & Buttons */
  --secondary-foreground: #ffffff;

  --accent: #ffdd54; /* Light Yellow */
  --accent-foreground: #111827;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #408e6d;
  --radius: 0.75rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--color-card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer components {
  .badge-sale {
    @apply bg-[#FFDD54] text-green-600 font-bold text-[10px] px-2.5 py-0.5 rounded-full hover:bg-[#FEF9C3] border-0 shadow-2xs;
  }
}
